################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/CozeSharp
/CozeSharp/.vs/CozeSharp
/CozeSharp/obj
/CozeSharp/bin/Debug/net8.0
/CozeSharp_Test/bin/Debug/net8.0
/CozeSharp_Test/obj/Debug/net8.0
/CozeSharp_Test/obj
/.vs/ProjectEvaluation
/.vs
/CozeSharp_ConsoleApp/bin/Debug/net9.0
/CozeSharp_ConsoleApp/obj
/CozeSharp_ConsoleApp/appsettings.json
/CozeSharp/bin/Debug
/CozeSharp_ConsoleApp/bin/Debug/net8.0
